/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5;
    background-color: #000000;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar li{
    padding: 40px 0;
}
.navbar li a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.banner_area{
	display: flex;
	column-gap: 24px;
}
.banner_area>.imgContainer{
	margin-top: 72px;
	margin-bottom: 32px;
}
.banner_info{
	font-size: 64px;
	color: #fff;
	margin-top: 232px;
	margin-bottom: 192px;

}
.right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.right p{
	font-size: 128px;
	color: #00FFA3;
}
button{
	width: 185px;
	border-radius: 32px;
	background-color: #FFFFFF;
	padding: 12px 24px;
	border: 0;
}
button>a{
	display: flex;
	text-decoration: none;
	color: #000;
	font-family: "Bruno Ace SC", sans-serif;
	height: 24px;
	font-size: 16px;
}
section{
	background-image: url(./img/background-img.png);
	background-size: cover;
	height: 920px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	column-gap: 24px;
}
h1{
	font-size: 64px;
	color: #fff;
}
section>.left{
	color: #fff;
	font-size: 24px;
	width: 526px;
	margin-top: 160px;
}
section>.left>p{
	margin-top: 36px;
	margin-bottom: 32px;
}
section .left_img_area{
	display: flex;
	height: 98px;
}

section>.right{
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	margin: 160px 0;
	height: 600px;
}